html,body {
    height: 100%;
    width:100%;
    margin:0px;
    padding:0px;
    background: #e6ffff; 
    background: linear-gradient(#e6ffff, #ccffff); 
}

*{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.btn-aux{
    width:48%;
}


.col-sm-4{
    margin:0px;
    padding: 0px;
}

.row{
    margin:0px;
}

#loader {
    display:none;
    position: absolute;
    z-index: 800;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 125px;
    height: 125px;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -65px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 0.5s linear infinite;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 799;
    cursor: pointer;
}

#title{
    color: navy;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 25px;
}

#title_web{
    font-weight: bold;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/*CSS desktop*/
@media screen and (min-width: 769px){    

}

/*CSS mobile*/
@media screen and (max-width: 768px){

}
