<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InfoExam</servlet-name>
        <servlet-class>Servlet.InfoExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionLoader</servlet-name>
        <servlet-class>Servlet.QuestionLoader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoExam</servlet-name>
        <url-pattern>/InfoExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionLoader</servlet-name>
        <url-pattern>/QuestionLoader</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
